*.pdf
Mega_Table*
/Delete

# TeXstudio specific files
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.lol
*.loa
*.lof
*.los
*.lot
*.nav
*.snm
*.vrb

# Exclude TeXstudio user settings (assuming Windows)
txs:///*

# Exclude TeXstudio session file
*.tss

# Exclude TeXstudio project file (if any)
*.txsprofile
